template(name="technotronicsMenu")
	.ui.inverted.blue.bottom.fixed.menu
		a.item(href="#{pathFor 'filiaisRoute'}")
			|#{currentFilial.name}
		.right.menu
			.item
				img.toggleTechnotronics.ui.right.floated.mini.image(src="/images/technotronics.png")
