template(name="subMenu")
	.ui.blue.secondary.inverted.top.fixed.menu(style="margin-top:50px;")
		.item
			.ui.breadcrumb
				a.section(href="#{pathFor 'homeRoute'}")
					i.android.icon
					|Aplicativos
				if appInfo
					i.right.angle.icon.divider
					.section #{appInfo.info.name}
				i.right.angle.icon.divider
				.section
					i.icon(class="#{subMenuTitle.icon}")
					|#{subMenuTitle.title}
