template(name="subMenu")
	.ui.blue.secondary.segment
		.ui.breadcrumb
			a.section(href="#{pathFor 'homeRoute'}")
				i.home.icon
				|Home
			if appInfo
				i.right.angle.icon.divider
				.section #{appInfo.name}
			i.right.angle.icon.divider
			.section
				i.icon(class="#{subMenuTitle.icon}")
				|#{subMenuTitle.title}
