template(name="loginView")
	img.ui.small.centered.image(src="#{arquivoPath appInfo.appLogo}")
	.ui.hidden.divider
	form.ui.form#loginForm(class="#{appThemeText}",style="background-color:#{appThemeBgColor}", method="post")
		.field
			label #{appInfo.loginTitle}
			input#usernameField(type="tel",name="username",autocomplete="off",placeholder="CPF")
		.field
			label Senha
			.ui.action.input
				input#passwordField.hidePwd(type="tel",name="password",autocomplete="off",placeholder="Senha")
				.ui.icon.button.showPasswordBtn
					i.eye.icon
		.ui.divider
		button.ui.fluid.blue.button(type="submit",form="loginForm") Entrar
