template(name="turmasView")
	.ui.info.message(style="background-color:#{appThemeBgColor}")
		i.large.student.icon
		|Ensino
	.ui.vertical.fluid.menu(style="background-color:#{appThemeBgColor}")
			each turmas
				a.item
					.ui.blue.icon.button#ensinoCadastroEvent
						i.add.icon
					|#{name}
