template(name="adminLayout")
	+confirmView
	+promptView
	.ui.container.stackable.grid
		.sixteen.wide.column
			+Template.dynamic template=menu
		.three.wide.column(style="padding-top:10px !important;")
			+Template.dynamic template=left
		.thirteen.wide.column
			+Template.dynamic template=main
