template(name="adminLayout")
	+confirmView
	+promptView
	+Template.dynamic template=menu
	//.ui.fluid.container(style="min-width:933px;")
	.ui.stackable.grid
		.three.wide.column
			+Template.dynamic template=left
		.thirteen.wide.column
			+Template.dynamic template=main
