template(name="ensinoCursosView")
	table.ui.blue.top.attached.table
		thead
			tr
				th.two.wide
				th Nome
		tbody
			each cursos
				tr
					td
						a.ui.icon.button.editBtn(href="#{pathFor 'ensinoCursosUpdateRoute' id=_id}")
							i.edit.blue.icon
						.ui.icon.button.removeBtn
							i.trash.red.icon
					td #{name}
