template(name="fotosView")
	.ui.left.floated.header Fotos da Galeria
	a.ui.right.floated.mini.icon.button(href="#{pathFor 'galeriasRoute'}")
		i.chevron.left.icon
	.ui.clearing.divider
	.ui.three.column.grid
		each fotos
			.column
				img.ui.fluid.image(src="#{fotoPath}")
