template(name="appLayout")
	if isLoading
		.ui.active.inverted.dimmer
			.ui.text.loader Carregando...
	+confirmView
	+promptView
	.ui.container
		+Template.dynamic template=menu
		//+appInfoView
		.ui.grid
			.three.wide.column
				+appMenu
			.thirteen.wide.column
				+Template.dynamic template=main
