template(name="authView")
	.ui.container.three.column.desktop.one.column.mobile.transition.hidden.centered.grid#loginGrid(style="height:100%;")
		.middle.aligned.row
			.left.aligned.column
				.ui.shape
					.sides
						.active.side
							+loginView
						.side
							+passwordView
