template(name="loginView")
	.ui.container.three.column.centered.hidden.transition.grid#loginGrid(style="height:100%;")
		.middle.aligned.row
			.left.aligned.column
				img.ui.small.centered.image(src="#{appLogoByDomain}")
				form.ui.form#loginForm(method="post")
					.field
						label CPF
						input#usernameField(type="text",name="username",placeholder="Digite seu CPF",autocomplete="off")
					.field
						label Senha
						input#passwordField(type="password",name="password",placeholder="Digite sua senha",autocomplete="off")
				.ui.divider
				button.ui.blue.big.fluid.button(type="submit",form="loginForm") Entrar
				.ui.divider
				.ui.two.item.secondary.menu
					a.item(href="#{pathFor 'passwordRoute'}") Esqueceu sua senha ?
					a.item(href="#{pathFor 'registerRoute'}") Cadastre-se
