template(name="passwordView")
	.ui.fluid.card
		.image(style="margin:20px;")
			img.ui.small.centered.image(src="#{clUrl appLogoByDomain crop='scale' width=320}")
		.content
			form.ui.form#passwordForm(method="post")
				.field
					label Email
					input#emailField(type="text",name="email",placeholder="Digite seu Email",autocomplete="off")
				.field
					label &nbsp;
					input(type="text",readonly,style="visibility:hidden;")
				button.ui.blue.big.fluid.button(type="submit",form="passwordForm") Recuperar Senha
		.extra.content
			.ui.two.item.secondary.menu
				.link.item#flipToLogin Faça o Login
