template(name="formGaleriasView")
	.ui.blue.segment
		form.ui.form#galeriasForm(method="post")
			.two.fields
				.field
					label Data
					input#dateField(type="date",name="date")
				.field
					label Título
					input#titleField(type="text",name="title")
			.ui.divider
			.ui.blue.button(type="submit",form="galeriasForm") Salvar
	if galeria_id
		.ui.large.header Fotos da Galeria
		+bibliotecaView
