template(name="emulatorTopMenu")
	.ui.inverted.secondary.attached.menu(style="background-color:#{menusRGBA} !important;")
		.icon.item.toggleSidebar
			i.sidebar.icon
		.header.item Home
		.right.menu
				.icon.item
					i.sign.in.icon
