template(name="pluginsFormView")
	form.ui.form#pluginsForm(method="post")
		.two.fields
			.field
				label Titulo
				input#titleField(type="text",name="title")
			.field
				label Path
				input#pathField(type="text",name="path")
		.two.fields
			.field
				label No Admin
				input#adminField(type="text",name="admin")
			.field
				label No Mobile
				input#mobileField(type="text",name="mobile")
		.two.fields
			.field
				label Route
				input#routeField(type="text",name="route")
			.field
				label Ícone
				input#iconField(type="text",name="icon")
		.field
				label Descrição
				textarea#descriptionField(name="description")
		.ui.divider
		button.ui.blue.button(type="submit",form="pluginsForm") Salvar
