template(name="siteMenu")
	.ui.blue.mini.inverted.top.fixed.labeled.icon.menu#siteMenu
		a.item(class="#{isActiveRoute regex='^home'}",href="#{pathFor 'homeRoute'}")
			i.home.icon
			|Home
		.right.menu
			unless userId
				a.item(href="#{pathFor 'loginRoute'}")
					i.sign.in.icon
					|Entrar
