template(name="adminLayout")
	if isLoading
		.ui.active.inverted.page.dimmer
			.ui.text.loader #{isLoading}
	+uploadProgress
	+confirmView
	+promptView
	.ui.fluid.container
		+Template.dynamic template=menu
		.ui.grid
			.four.wide.column
				+Template.dynamic template=left
			.twelve.wide.column
				+Template.dynamic template=main
				
