template(name="filiaisFormView")
	+indexHeaderSearch header=header saveLink=saveLink extraLinks=extraLinks
	form.ui.form#filiaisForm(method="post")
		.field
			label Nome
			input#nameField(type="text",name="name")
