template(name="suspensoView")
	.ui.dividing.header Atenção
	if newUser
		.ui.blue.message
			|Se você acabou de se cadastrar não se preocupe, dentro de alguns minutos seu acesso será liberado.
	else
		.ui.red.message
				|Procure a administração do Grêmio Pioneiro para re-estabecer seu acesso.
