template(name="ensinoCursosFormView")
	.ui.blue.top.attached.segment
		form.ui.form#cursosForm(method="post")
			.two.fields
				.field
					label Ordem
					input#orderField(type="number",name="order")
				.field
					label Requisito
					select.ui.dropdown#requisitoField(name="requisito")
						option(value="") Nenhum
						each requisitos
							option(value="#{_id}") #{name}
			.field
				label Nome
				input#nameField(type="text",name="name")
			.field
				label Descrição
				textarea#descriptionField(name="description")
	.ui.bottom.attached.secondary.segment
		button.ui.blue.button(type="submit", form="cursosForm")
			i.save.icon
			|Salvar
		a.ui.button(href="#{pathFor 'ensinoRoute' aplicativoId=appInfo._id}")
			i.left.arrow.icon
			|Voltar
