template(name="technotronicsMenu")
	.ui.inverted.bottom.fixed.menu(style="background-color:#{menusRGBA} !important;")
		.right.menu
			.item
				img.toggleTechnotronics.ui.right.floated.mini.image(src="/images/technotronics.png")
