template(name="topMenu")
	.ui.inverted.secondary.top.fixed.menu(style="background-color:#{menusRGBA} !important;")
		.icon.item.toggleSidebar
			i.sidebar.icon
		.header.item #{topTitle}
		.right.menu
				a.icon.active.item(href="#{pathFor 'aplicativosEmulatorRoute' aplicativoId=appInfo._id}")
					i.ui.home.icon
