template(name="aplicativosUpdateInfoView")
	+configMenu
	.ui.blue.segment
		form.ui.form.aplicativosForm#infoForm(method="post")
			.ui.grid
				.three.wide.column
					if appInfo.logotype
						img.ui.image(src="#{clUrl appInfo.logotype.public_id cloud_name=appInfo.logotype.cloud_name crop='scale' width=150}")
					else
						img.ui.image(src="#{clUrl 'no-logotype' crop='scale' width=150}")
				.thirteen.wide.column
					.two.fields
						.field
							label Nome
							input#nameField(type="text",name="name")
						.field
							label Email
							input#emailField(type="text",name="mailFrom")
					.two.fields
						.field
							label Domínio Opcional
							input#domainField(type="text",name="domain",placeholder="https://site.com.br")
						.field
							label Quantidade Paginação
							input#itemsPerPageField(type="number",name="itemsPerPage")
			.ui.clearing.divider
			button.ui.blue.button(type="submit",form="infoForm") Gravar
	.ui.header Escolha o Logotipo
	+bibliotecaView
