template(name="topMenu")
	.ui.inverted.secondary.top.fixed.menu(style="background-color:#{menusRGBA} !important;")
		.icon.item.toggleSidebar
			i.sidebar.icon
		if backBtnRouteHelper
			a.item(href="#{backBtnRouteHelper}")
				i.left.arrow.icon
		.header.item #{topTitle}
		.right.menu
			if isLogged
				a.icon.item#logoutBtn
					i.sign.out.icon
			else
				a.icon.item(href="#{pathFor 'loginRoute'}")
					i.sign.in.icon
