template(name="turmasView")
	.ui.info.message(style="background-color:#{appThemeBgColor}")
		i.large.student.icon
		|Ensino
	unless Template.subscriptionsReady
		.ui.info.message
			i.loading.spinner.icon
			|Carregando...
	else
	.ui.cards
			each turmas
				.ui.fluid.card(style="background-color:#{appThemeBgColor}")
					.content
						.header #{name}
						.meta #{alunos.length} alunos inscritos
					.extra.content
						if canAdd
							if userCanAdd
								.ui.blue.button#ensinoCadastroEvent
									i.add.icon
									|Cadastre-se
							else
								.ui.error.message
									p Você não possui os requisitos para se inscriver neste Curso.
						else
							.ui.warning.message
								p As inscrições ainda não foram abertas.
