template(name="turmasView")
	.ui.info.message(style="background-color:#{appThemeBgColor}")
		i.large.student.icon
		|Ensino
	.ui.vertical.fluid.menu(style="background-color:#{appThemeBgColor}")
			each turmas
				a.item
					if canAdd
						.ui.blue.icon.button#ensinoCadastroEvent
							i.add.icon
					|#{name} - #{alunos.length} alunos inscritos
