template(name="noticiasDetalheView")
	.ui.segment
		.ui.left.floated.header #{noticia.title}
		a.ui.mini.right.floated.icon.button(href="#{pathFor 'noticiasRoute'}")
			i.chevron.left.icon
		i.large.newspaper.icon
		br
		br
		p !{noticia.mensagem}
		
