template(name="passwordView")
	.ui.three.column.centered.grid(style="height:100vh;")
		.middle.aligned.row
			.left.aligned.column
				.ui.black.segment
					img.ui.centered.image(src="#{clUrl appByDomain.public_id cloud_name=appByDomain.cloud_name crop='scale' width=180}",width="180")
					form.ui.form#passwordForm(method="post")
						.field
							label Email
							input#emailField(type="text",name="email",placeholder="Digite seu Email",autocomplete="off")
						button.ui.orange.big.fluid.button(type="submit",form="passwordForm") Recuperar Senha
					.ui.two.item.secondary.menu
						a.link.item(href="#{pathFor 'loginRoute'}") Faça o Login
