template(name="mobileEmulator")
	.ui.one.column.grid(style="height:100vh")
		.center.aligned.row
			.middle.aligned.column
				#viewport
					#viewport-body(style='height: 640px;')
						iframe#frame(scrolling='no', border="no" src='/', style='width: 360px; height: 640px; background-image: none; display: inline-block; border:0;')
