template(name="emulatorBottomMenu")
	.ui.inverted.secondary.attached.menu(style="background-color:#{menusRGBA} !important;top: 616px;position: absolute;height: 40px;width: 330px;")
		.right.menu
			.item
				img.toggleTechnotronics.ui.right.floated.mini.image(src="/images/technotronics.png")
