template(name="emulatorFrame")
	#emulatorFrame
		div(style="background-image:url(#{clUrl appInfo.appBg crop='scale'}) !important; height:100%; background-repeat: no-repeat;background-size: cover;")
			+emulatorTopMenu
			+emulatorHomeView
			+emulatorBottomMenu
