template(name="aplicativosArquivosView")
	input#uploadField(type="file",name="files",style="display:none;",multiple="multiple")
	.ui.green.button#rebuildCloudinary Recuperar Arquivos
	.ui.button.uploadEvent(data-value="wallpaper") Enviar Papel de Parede
	.ui.button.uploadEvent(data-value="logotype") Enviar Logotipo
	.ui.clearing.divider
	.ui.six.column.grid
		if ready
			each arquivos.data
				.column.arquivo
					.ui.dimmer
						.content
							.center
								.ui.inverted.header Gerenciar
								.ui.mini.icon.button.arquivoBackgroudEvent(data-tooltip="Usar como Fundo",data-inverted)
									i.image.icon
								.ui.mini.icon.button.arquivoLogotypeEvent(data-tooltip="Usar como Logotipo",data-inverted)
									i.facebook.icon
								.ui.red.mini.icon.button.arquivoRemoveEvent
									i.trash.icon
					img.ui.image(src="#{clUrl public_id crop='scale' width=210 cloud_name=cloud_name}")
			each uploads.data
				.column.arquivo
					.ui.active.dimmer
						.content
							.center
								.ui.inverted.header Enviando
								.ui.tiny.progress(id="progress_#{_id}")
									.bar
					img.ui.image(src="#{preview}")
