template(name="technotronicsSidebar")
	.ui.bottom.wide.sidebar#technotronicsSidebar(style="box-shadow:none !important")
		.ui.basic.segment
			img.ui.centered.image(src="/images/technotronics.png")
			.ui.top.attached.message
				p Desenvolvimento de aplicativos Desktop, Android e iOS.
			.ui.fluid.inverted.vertical.bottom.attached.menu
				.item
					i.home.icon
					|https://technotronics.com.br
				.item 
					i.phone.icon
					|Tel: 61 98434-9585 / 99866-1347
				.item
					i.mail.icon
					|Email: contato@technotronics.com.br
