template(name="loginView")
	img.ui.small.centered.image(src="#{appLogo}",target="_self")
	form.ui.inverted.form#loginForm(method="post")
		.field
			label CPF
			input#usernameField(type="tel",name="username",autocomplete="off")
		.field
			label Senha
			.ui.action.input
				input#passwordField.hidePwd(type="tel",name="password",autocomplete="off")
				.ui.icon.button.showPasswordBtn
					i.eye.icon
		.ui.divider
		button.ui.fluid.blue.button(type="submit",form="loginForm") Entrar
		br
		.ui.two.column.grid
			.column
				a.ui.fluid.button(href="#{pathFor 'passwordRoute'}") Esqueceu sua Senha ?
			.column
				a.ui.fluid.button(href="#{pathFor 'registerRoute'}") Cadastro
