template(name="passwordView")
	form.ui.form#passwordForm(method="post")
		img.ui.small.centered.image(src="#{appInfo.logo}")
		.field
			label CPF
			input#usernameField(type="tel",name="username",autocomplete="off")
		.ui.divider
		button.ui.fluid.blue.button(type="submit",form="passwordForm") Enviar
		br
		a.ui.fluid.button(href="#{pathFor 'loginRoute'}") Cancelar
