template(name="passwordView")
	img.ui.small.centered.image(src="#{appLogo}")
	.ui.hidden.divider
	form.ui.inverted.form#passwordForm(style="background-color:#{appThemeBgColor}", method="post")
		.field
			label CPF
			input#usernameField(type="tel",name="username",autocomplete="off")
		.ui.divider
		button.ui.fluid.blue.button(type="submit",form="passwordForm") Enviar
